footer {
  flex: 1 0 auto;
  width: 100%;
  min-width: 100%;
  background: #1e1e1e;
  margin: 0;
  box-sizing: border-box;
  @extend %openSans;
  .contacts {
    max-width: $l  * 128;
    box-sizing: border-box;
    max-height: 100%;
    h3 {
      letter-spacing: $l * .3;
      @extend %lato;
    }
    ul {
      li {
        @extend %openSans;
        letter-spacing: $l * .14;
        font-size: 0.8em;
        padding: $l * .2 $l * 3;
      }
    }
  }
  .addr {
    font-size: 1.3em;
    padding: $l * 2;
  }
}