@import "templates/variables";

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  @import "templates/header";
  background: {
    image: url("../images/bg.png");
    size: 100%;
    position: top;
  }
}