@import "templates/variables";

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  @include noScroll();
  display: flex;
  flex-direction: column;
  background: {
    image: url("../images/bgm-2.png");
    size: cover;
    position: center;
    repeat: no-repeat;
    attachment: fixed;
  }
  overflow: {
    x: hidden;
  }
  font: {
    family: sans-serif;
  }

  @import "templates/preloader";
  @import "templates/header";
  @import "templates/up-button";
  @import "templates/feedback-button";

  main {
    flex-grow: 1;
    width: 100%;
    padding: 0;
    margin: 0;

    h1 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      color: $light;
      margin: 0 0 0 5%;

      strong {
        display: block;
        padding: $line 5% $line $line / 2;
        margin: 0 0 $line;
        border: {
          bottom: $line / 2 solid $light;
        }
      }

      small {
        font: {
          weight: normal;
          size: $line * 2;
        }
      }
    }
  }

  @import "templates/footer";

  &.visible {
    animation: {
      name: logo;
    }
  }
}