@import "templates/variables";

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  @include noScroll();
  display: flex;
  flex-direction: column;
  background: {
    image: url("../images/bg-5.png");
    size: cover;
    position: center;
    attachment: fixed;
  }

  @import "templates/preloader";
  @import "templates/header";
  @import "templates/feedback-button";
  @import "templates/up-button";

  main {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .partner-link {
      background-color: white;
      border: $line / 2 solid black;
      height: $line * 20;
      width: 25%;
      transition: {
        duration: $time / 2;
        timing-function: linear;
      }
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
    }

    .partner-link:hover {
      box-shadow: $line $line 2px 2px transparentize($green, 0.3);
      transform:
              translateY($line * -1)
              translateX($line * -1);
    }
  }

  @import "templates/footer";

  &.visible {
    @include bodyVisible;
  }
}