@import "templates/variables";

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  @include noScroll();
  display: flex;
  flex-direction: column;
  background: {
    image: url("../images/bg-5.png");
    size: cover;
    position: center;
    attachment: fixed;
  }

  @import "templates/preloader";
  @import "templates/header";
  @import "templates/feedback-button";
  @import "templates/up-button";

  main {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;

    .partner-link {
      background: {
        color: $light;
      }
      border: {
        style: solid;
        width: $line / 2;
        color: $grey;
      }
      height: 15%;
      width: 25%;
      transition: {
        duration: $time / 2;
        timing-function: linear;
      }

      img {
        display: block;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
      }

      &:hover {
        box-shadow: $line $line $line / 5 $line / 5 transparentize($green, 0.3);
        transform:
                translateY($line * (-1))
                translateX($line * (-1));
      }
    }
  }

  @import "templates/footer";

  &.visible {
    @include bodyVisible;
  }
}