footer {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  width: 100%;
  min-height: $line * 10;
  color: $light;
  background: {
    color: transparentize(darken($grey, 15%), 0.5);
  }
  transform: translateY(100%);
  animation: {
    duration: $time * 2;
    delay: $time * 13;
    timing-function: linear;
    fill-mode: forwards;
  }

  article {
    position: relative;
    margin: 0;
    flex-basis: 20%;
  }

  .contacts {

    .contacts-heading,
    .contacts-number {
      text: {
        align: center;
      }
    }

    .contacts-heading {
      font: {
        size: $line * 1.5;
        weight: bold;
        family: Tahoma;
      }
    }
  }

  .socials {
    flex-grow: 1;
    max-width: 40%;
    text: {
      align: center;
    }
    box-shadow:
            $line / -2 0 0 0 $light,
            $line / 2 0 0 0 $light;

    .socials-heading {
      text: {
        align: center;
      }
      font: {
        size: $line * 1.5;
        weight: bold;
        family: Tahoma;
      }
    }

    .socials-item {
      color: darken($light, 20%);
      text: {
        decoration: none;
      }
      font: {
        family: Ico;
        size: $line * 3;
      }
      padding: $line / 2 $line;
      transition: {
        duration: $time;
        timing-function: linear;
      }

      &:hover {
        color: $light;
        text-shadow: $line / 5 $line / 5 $line / 5 $grey;
      }
    }
  }

  .map {

  }
}