header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  min-height: $line * 15;
  padding: $line * 3 0;


  .logo-link {
    margin: 0 0 0 $line * 5;
    text: {
      decoration: none;
      align: center;
    }
    line-height: $line / 2;

    .logo-caption,
    .logo-paragraph {
      color: $light;
    }

    .logo-caption {
      font: {
        weight: bold;
        size: $line * 2;
      }
    }

    .logo-paragraph {
      font: {
        weight: bold;
        size: $line * 1.8;
      }
    }
  }

  .main-menu {
    margin: 0 auto;
    display: flex;
    width: 60%;
    border: {
      top: $line / 3 solid $light;
      bottom: $line / 3 solid $light;
    }

    .menu-item {
      flex-grow: 1;
      text: {
        decoration: none;
        align: center;
      }
      color: $light;
      padding: $line * 1.5 $line;
      font: {
        size: $line * 1.8;
        family: Tahoma;
      }
      transition: {
        duration: $time;
        timing-function: linear;
      }

      &:hover {
        background: {
          color: #A69371;
        }
      }
    }
  }

  #language-box {
    position: relative;
    margin:  0 $line * 5 0 0;

    .language-btn {
      padding: $line * 2 $line *4;
      background: {
        color: $brown;
      }
      color: $light;
    }

    nav {
      width: 100%;
      position: absolute;
      display: flex;
      flex-direction: column;


      .language-item {
        padding: $line * 1.5;
        color: $brown;
        text: {
          decoration: none;
          align: center;
        }
        background: {
          color: $light;
        }
        border: {
          bottom: $line / 5 solid $brown;
          right: $line / 5 solid $brown;
          left: $line / 5 solid $brown;
        }
      }

      &:hover {}
    }
  }
}