#preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: {
    color: $light;
    image: url("../../SVG/preloader.svg");
    position: center;
    size: 10%;
    repeat: no-repeat;
  }
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 1000;
  transition: {
    duration: $time;
    timing-function: ease-out;
  }
  animation: {
    duration: $time * 5;
    timing-function: ease-in;
    delay: $time * 5;
    fill-mode: both;
  }

  &.loaded {
    animation: {
      name: preloader;
    }
  }
}