$line: 10px;
$time : 0.3s;

$green: #087d02;
$darkGreen: #086402;
$grey: #000000;
$light: #FFF;

@mixin button($color: $green) {
  width: $line * 6;
  height: $line * 6;
  color: $light;
  background: {
    color: transparentize($color, 0.3);
  }
  border: {
    width: $line / 5;
    radius: 50%;
    style: solid;
    color: $light;
  }
  font: {
    family: Ico;
    size: $line * 3;
  }
  outline: none;
  transition: {
    duration: $time;
    timing-function: linear;
  }

  &:hover {
    cursor: pointer;
    background: {
      color: $color;
    }
  }
}

@font-face {
  src: url('../../fonts/icomoon.ttf');
  font-family: Ico;
}

@mixin noScroll() {
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

@mixin scroll() {
  &::-webkit-scrollbar {
    width: 0;

    &-track {

      &-piece {

      }
    }

    &-thumb {

      &:hover {

      }

      &:active {

      }
    }
  }
}

@keyframes logo {
  from {
    visibility: visible;
    transform:
            translateY(-200%);
    opacity: 0;
  }

  50% {
    visibility: visible;
    opacity: 1;
  }

  75% {
    visibility: visible;
    transform:
            translateY(25%);
    opacity: 1;
  }

  90% {
    visibility: visible;
    transform:
            translateY(-10%);
    opacity: 1;
  }

  to {
    visibility: visible;
    transform:
            translateY(0);
    opacity: 1;
  }
}

@keyframes preloader {
  50% {
    background: {
      color: transparent;
    }
    z-index: -1000;
  }

  75% {
    background: {
      color: transparent;
      blend-mode: overlay;
      size: 100%;
    }
    z-index: -1000;
  }

  90% {
    background: {
      color: transparent;
      blend-mode: overlay;
      size: 100%;
    }
    z-index: -1000;
    transform: scale(5);
  }

  99% {
    background: {
      color: transparent;
      blend-mode: overlay;
      size: 100%;
    }
    z-index: -1000;
    transform: scale(5);
    opacity: 0;
  }

  to {
    background: {
      color: transparent;
      blend-mode: overlay;
      size: 100%;
    }
    z-index: -1000;
    transform: scale(5);
    opacity: 0;
    display: none;
  }
}

@keyframes footer {
  90% {
    transform: translateY(0);
    box-shadow: none;
  }

  to {
    transform: translateY(0);
    box-shadow: 0 $line / 10 $line 0 $light;
  }
}

@keyframes feedbackButtonDisplay {
  to {
    opacity: 1;
  }
}

@keyframes feedbackButtonPulse {
  from {
    box-shadow:
            0 0 0 $line / 5 transparentize($light, 0.9),
            0 0 0 0 transparentize($green, 0.9),
            0 0 0 0 transparentize($light, 0.9);
  }

  //33% {
  //  box-shadow:
  //          0 0 0 $line / 2 transparentize($light, 0.9),
  //          0 0 0 $line / 5 transparentize($light, 0.9),
  //          0 0 0 0 transparentize($light, 0.9);
  //}
  //
  //66% {
  //  box-shadow:
  //          0 0 0 $line transparentize($light, 0.9),
  //          0 0 0 $line / 2 transparentize($light, 0.9),
  //          0 0 0 $line / 5 transparentize($light, 0.9);
  //}

  to {
    box-shadow:
            0 0 0 $line * 2 transparentize($light, 0.9),
            0 0 0 $line transparentize($green, 0.9),
            0 0 0 $line / 2 transparentize($light, 0.9);
  }
}