$line: 10px;
$time : 0.3s;

$brown: #4d3303;
$darkBrown: #332305;
$grey: #000000;
$light: #FFF;

@mixin button($color: $brown) {
  width: $line * 6;
  height: $line * 6;
  color: $light;
  background: {
    color: transparentize($color, 0.3);
  }
  border: {
    width: $line / 5;
    radius: 50%;
    style: solid;
    color: $light;
  }
  font: {
    family: Ico;
    size: $line * 3;
  }
  outline: none;
  transition: {
    duration: $time;
    timing-function: linear;
  }

  &:hover {
    cursor: pointer;
    background: {
      color: $color;
    }
  }
}

@font-face {
  src: url('../../fonts/icomoon.ttf');
  font-family: Ico;
}