$line: 10px;
$time : 0.3s;

$green: #087d02;
$darkGreen: #033f01;
$grey: #000000;
$lightGrey: #484848;
$light: #FFF;

@mixin button($color: $green) {
  width: $line * 6;
  height: $line * 6;
  color: $light;
  background: {
    color: transparentize($color, 0.3);
  }
  border: {
    width: $line / 5;
    radius: 50%;
    style: solid;
    color: $light;
  }
  font: {
    family: Ico;
    size: $line * 3;
  }
  outline: none;
  transition: {
    duration: $time;
    timing-function: linear;
  }

  &:hover {
    cursor: pointer;
    background: {
      color: $color;
    }
  }
}

@font-face {
  src: url('../../fonts/icomoon.ttf');
  font-family: Ico;
}

@font-face {
  src: url('../../fonts/materials.ttf');
  font-family: Materials;
}

@mixin noScroll() {
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

@mixin scroll() {
  &::-webkit-scrollbar {
    width: 0;

    &-track {

      &-piece {

      }
    }

    &-thumb {

      &:hover {

      }

      &:active {

      }
    }
  }
}

@mixin bodyVisible {
  .logo-link {
    animation: {
      name: logo;
    }
  }

  footer {
    animation: {
      name: footer;
    }
  }

  #feedback-btn {
    animation: {
      name: feedbackButtonDisplay, feedbackButtonPulse;
    }
  }

  .menu-item {
    animation: {
      name: navItems;
    }
  }

  .language-btn {
    animation: {
      name: lang;
    }
  }
}

@keyframes logo {
  from {
    visibility: visible;
    transform:
            translateY(-200%);
    opacity: 0;
  }

  40% {
    visibility: visible;
    opacity: 1;
  }

  60% {
    visibility: visible;
    transform:
            translateY(25%);
    opacity: 1;
  }

  80% {
    visibility: visible;
    transform:
            translateY(-10%);
    opacity: 1;
  }

  to {
    visibility: visible;
    transform:
            translateY(0);
    opacity: 1;
  }
}

@keyframes preloader {
  from {

  }

  33% {
    background: {
      color: transparent;
      blend-mode: overlay;
      size: 0;
    }
    z-index: -1000;
  }

  66% {
    background: {
      color: transparent;
      blend-mode: overlay;
      size: 0;
    }
    z-index: -1000;
    transform: scale(2);
  }

  99% {
    background: {
      color: transparent;
      blend-mode: overlay;
      size: 0;
    }
    z-index: -1000;
    transform: scale(2);
    opacity: 0;
  }

  to {
    background: {
      color: transparent;
      blend-mode: overlay;
      size: 0;
    }
    z-index: -1000;
    transform: scale(2);
    opacity: 0;
    display: none;
  }
}

@keyframes footer {
  90% {
    transform: translateY(0);
    box-shadow: none;
  }

  to {
    transform: translateY(0);
    box-shadow: 0 $line / 10 $line 0 $light;
  }
}

@keyframes feedbackButtonDisplay {
  to {
    opacity: 1;
  }
}

@keyframes feedbackButtonPulse {
  from {
    box-shadow:
            0 0 0 $line / 5 transparentize($light, 0.3),
            0 0 0 0 transparentize($green, 0.3),
            0 0 0 0 transparentize($light, 0.3);
  }

  50% {
    box-shadow:
            0 0 0 $line * 1 transparentize($light, 0.7),
            0 0 0 $line / 2 transparentize($green, 0.7),
            0 0 0 $line transparentize($light, 0.7);
  }

  to {
    box-shadow:
            0 0 0 $line * 2 transparent,
            0 0 0 $line * 1.5 transparent,
            0 0 0 $line transparent;
  }
}

@keyframes navItems {
  25% {
    transform: rotate3d(1, 0, 0, -45deg);

  }

  50% {
    transform: rotate3d(1, 0, 0, 45deg);

  }

  75% {
    transform: rotate3d(1, 0, 0, -22.5deg);

  }

  to {
    transform: rotate3d(1, 0, 0, 0deg);
  }
}

@keyframes lang {
  50% {
    opacity: .8;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes headerItems {
  to {
    transform: scaleY(1);
  }
}

@keyframes sideMenu {
  to {
    transform: translateX(0);
  }
}