@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Lato-Bold";
  src: url("./fonts/Lato/Lato-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Lato-Light";
  src: url("./fonts/Lato/Lato-Light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Open-Sans";
  src: url("./fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Open-Sans-Bold";
  src: url("./fonts/Open_Sans/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Open-Sans-Black";
  src: url("./fonts/Open_Sans/OpenSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: "Open-Sans-Light";
  src: url("./fonts/Open_Sans/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: url("./fonts/roboto/Roboto-Regular.woff") format("woff"), url("./fonts/roboto/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Roboto-Medium";
  src: url("./fonts/roboto/Roboto-Medium.woff") format("woff"), url("./fonts/roboto/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Roboto-Bold";
  src: url("./fonts/roboto/Roboto-Bold.woff") format("woff"), url("./fonts/roboto/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Roboto-Thin";
  src: url("./fonts/roboto/Roboto-Thin.woff") format("woff"), url("./fonts/roboto/Roboto-Thin.woff2") format("woff2");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Ubuntu";
  src: url("./fonts/Ubuntu/Ubuntu-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Ubuntu-Medium";
  src: url("./fonts/Ubuntu/Ubuntu-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Ubuntu-Bold";
  src: url("./fonts/Ubuntu/Ubuntu-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

body #root .App .main-page .content .row .main-caption {
  font-family: "Lato", "Arial", sans-serif; }

body #root .App .main-page .content .row .sub-caption {
  font-family: "Lato-Light", "Arial", sans-serif; }

body #root .App .main-page .content .row .name {
  font-family: "Ubuntu", "Arial", sans-serif; }

body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: normal;
  padding: 0;
  margin: 0; }
  body h1, body h2, body h3 {
    margin: 0;
    padding: 0; }

body #root .App .main-page .content .row {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center; }

body #root .App .main-page .content .row .main-background, body #root .App .about-us-page .about-us-background, body #root .App .smart-house-page img {
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: -2; }

body #root .App {
  width: 100%;
  height: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: column; }
  body #root .App .App-header #dropdown-lang {
    transform-origin: bottom; }
  body #root .App .App-page {
    overflow: hidden;
    flex: 1 0 auto;
    width: 100%;
    position: relative;
    background-color: transparent; }
    body #root .App .App-page::before {
      content: '';
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(20, 20, 20, 0.7);
      z-index: -1; }
  body #root .App .main-page {
    min-height: 60%;
    height: 100%; }
    body #root .App .main-page .content {
      width: inherit;
      height: 100%; }
      body #root .App .main-page .content .row {
        width: inherit;
        height: inherit; }
        body #root .App .main-page .content .row .main-caption {
          font-size: 5.4em;
          letter-spacing: 3px;
          padding: 0; }
        body #root .App .main-page .content .row .name {
          font-size: 6.5em;
          font-weight: 500;
          letter-spacing: 5px;
          padding: 10px 0;
          margin-bottom: 60px; }
        body #root .App .main-page .content .row .sub-caption {
          margin-top: 40px;
          font-size: 1.1em;
          letter-spacing: 2.4px;
          line-height: 1.6;
          border-left: 6px solid #006900; }
        body #root .App .main-page .content .row .main-background {
          top: -180px; }
  body #root .App .about-us-page {
    min-height: 100%; }
    body #root .App .about-us-page .about-us-content .collapsible li .collapsible-header {
      display: flex;
      align-items: center;
      background: rgba(255, 255, 255, 0.8); }
      body #root .App .about-us-page .about-us-content .collapsible li .collapsible-header .material-icons {
        padding-right: 30px;
        font-size: 2.1em;
        color: #006900; }
    body #root .App .about-us-page .about-us-content .collapsible li .collapsible-body {
      background: rgba(255, 255, 255, 0.7); }
    body #root .App .about-us-page .about-us-background {
      top: -200px; }
  body #root .App .smart-house-page {
    min-height: 100%; }
    body #root .App .smart-house-page img {
      top: -180px; }
  body #root .App #preloader.unset {
    border-radius: 50%; }
