@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Lato-Bold";
  src: url("./fonts/Lato/Lato-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Lato-Light";
  src: url("./fonts/Lato/Lato-Light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Open-Sans";
  src: url("./fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Open-Sans-Bold";
  src: url("./fonts/Open_Sans/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Open-Sans-Black";
  src: url("./fonts/Open_Sans/OpenSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: "Open-Sans-Light";
  src: url("./fonts/Open_Sans/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: url("./fonts/roboto/Roboto-Regular.woff") format("woff"), url("./fonts/roboto/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Roboto-Medium";
  src: url("./fonts/roboto/Roboto-Medium.woff") format("woff"), url("./fonts/roboto/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Roboto-Bold";
  src: url("./fonts/roboto/Roboto-Bold.woff") format("woff"), url("./fonts/roboto/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Roboto-Thin";
  src: url("./fonts/roboto/Roboto-Thin.woff") format("woff"), url("./fonts/roboto/Roboto-Thin.woff2") format("woff2");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Ubuntu";
  src: url("./fonts/Ubuntu/Ubuntu-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Ubuntu-Medium";
  src: url("./fonts/Ubuntu/Ubuntu-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Ubuntu-Bold";
  src: url("./fonts/Ubuntu/Ubuntu-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Ico";
  src: url("./fonts/icons/icons.woff") format("woff"), url("./fonts/icons/icons.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

body #root .App .main-page .content .row .main-caption {
  font-family: "Lato", "Arial", sans-serif; }

body #root .App .main-page .content .row .sub-caption {
  font-family: "Lato-Light", "Arial", sans-serif; }

body #root .App .about-us-page .about-us-content .collapsible li .collapsible-header {
  font-family: "Lato-Bold", "Arial", sans-serif; }

body #root .App footer .container .row div h5 {
  font-family: "Open-Sans", "Arial", sans-serif; }

body #root .App footer .container .row div address, body #root .App footer .container .row div ul li, body #root .App footer .footer-copyright .container a {
  font-family: "Open-Sans-Light", "Arial", sans-serif; }

body, body #root .App .App-header nav .container .right li a, body #root .App .about-us-page .about-us-content .collapsible li .collapsible-body, body #root .App .about-us-page .about-us-content .text {
  font-family: "Roboto", "Arial", sans-serif; }

body #root .App footer .footer-copyright .container {
  font-family: "Roboto-Thin", "Arial", sans-serif; }

body #root .App .main-page .content .row .name {
  font-family: "Ubuntu", "Arial", sans-serif; }

body #root .App .about-us-page .about-us-content .collapsible li .collapsible-header .icons, body #root .App .calculator button .icons {
  font-family: "Ico", "Arial", sans-serif; }

body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: normal;
  padding: 0;
  margin: 0; }
  body h1, body h2, body h3 {
    margin: 0;
    padding: 0; }

body #root .App .main-page .content .row {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center; }

@media screen and (max-width: 1366px) {
  body {
    font-size: 14px; } }

body #root .App {
  width: 100%;
  height: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: column; }
  body #root .App .App-header #dropdown-lang {
    transform-origin: bottom; }
  body #root .App .App-header nav .container .right li a {
    font-size: 1.1em;
    letter-spacing: 1.4px;
    text-transform: capitalize; }
  body #root .App .App-page {
    overflow: hidden;
    flex: 1 0 auto;
    width: 100%; }
  body #root .App .main-page {
    min-height: 60%;
    height: 100%; }
    body #root .App .main-page .content {
      width: inherit;
      height: 100%; }
      body #root .App .main-page .content .row {
        width: inherit;
        height: inherit; }
        body #root .App .main-page .content .row .main-caption {
          font-size: 5.4em;
          letter-spacing: 3px;
          padding: 0; }
        body #root .App .main-page .content .row .name {
          font-size: 6.5em;
          font-weight: 500;
          letter-spacing: 5px;
          padding: 10px 0;
          margin-bottom: 60px; }
        body #root .App .main-page .content .row .sub-caption {
          margin-top: 40px;
          font-size: 1.4em;
          letter-spacing: 2.6px;
          line-height: 1.6;
          border-left: 6px solid #006900; }
  body #root .App .about-us-page .about-us-content {
    width: inherit;
    margin-top: 10px; }
    body #root .App .about-us-page .about-us-content .collapsible li {
      border-bottom: 10px solid transparent;
      box-shadow: unset; }
      body #root .App .about-us-page .about-us-content .collapsible li .collapsible-header {
        display: flex;
        align-items: center;
        background: rgba(72, 72, 72, 0.8);
        color: #d6d6d6;
        font-size: 1.12em;
        letter-spacing: 1.2px;
        border: none; }
        body #root .App .about-us-page .about-us-content .collapsible li .collapsible-header i {
          color: #00a400;
          font-style: normal; }
        body #root .App .about-us-page .about-us-content .collapsible li .collapsible-header .icons {
          font-size: 1.7em; }
        body #root .App .about-us-page .about-us-content .collapsible li .collapsible-header .material-icons {
          margin: 0 30px 0 0;
          font-size: 2em; }
      body #root .App .about-us-page .about-us-content .collapsible li .collapsible-body {
        color: #d6d6d6;
        font-size: 1em;
        letter-spacing: 1.5px;
        background: rgba(85, 85, 85, 0.7);
        border: none; }
    body #root .App .about-us-page .about-us-content .text {
      padding-right: 40px;
      font-size: 1em;
      letter-spacing: 1.2px;
      line-height: 1.7;
      border-right: 6px solid #006900; }
  body #root .App .smart-house-page {
    min-height: 100%; }
  body #root .App footer .container .row div h5 {
    font-size: 1.7em;
    letter-spacing: 1.4px; }
  body #root .App footer .container .row div address {
    font-size: 1.3em;
    letter-spacing: 1.6px; }
  body #root .App footer .container .row div ul li {
    font-size: 1.1em;
    letter-spacing: 1.4px; }
  body #root .App footer .footer-copyright .container {
    font-size: 1.1em;
    letter-spacing: 0.4px; }
    body #root .App footer .footer-copyright .container a {
      font-size: 1.1em;
      line-height: 1.3;
      letter-spacing: 0.8px; }
  body #root .App .calculator button .icons {
    font-style: normal;
    font-size: 1.8em; }
  body #root .App #preloader.unset {
    border-radius: 50%; }
