@import "variables.scss";

body {
  @extend %globalReset;
  @extend %roboto;


  #root {
    .App {
      width: 100%;
      height: 100%;
      display: flex;
      min-height: 100vh;
      flex-direction: column;


      .App-header {
        #dropdown-lang {
          transform-origin: bottom;
        }
        nav .container .right li a {
          @extend %roboto;
          font-size: 1.1em;
          letter-spacing: $l * .14;
          text-transform: capitalize;
        }
      }

      .App-page {
        overflow: hidden;
        flex: 1 0 auto;
        width: 100%;
        min-height: 90%;
      }

      .main-page {
        height: 100%;

        .content {
          width: inherit;
          height: 100%;
          .row {
            @extend %column-centner;
            width: inherit;
            height: inherit;

            .main-caption {
              @extend %lato;
              font-size: 5.4em;
              letter-spacing: $l * .3;
              padding: 0;
            }
            .name {
              @extend %ubuntu;
              font-size: 6.5em;
              font-weight: 500;
              letter-spacing: $l * .50;
              padding: $l 0;
              margin-bottom: $l * 6;
            }
            .sub-caption {
              @extend %latoLight;
              margin-top: $l * 4;
              font-size: 1.4em;
              letter-spacing: $l * .26;
              line-height: 1.6;
              border-left: $l * .6 solid #006900;
            }
            //.main-background {
            //  @extend %img-background;
            //  top: $l * -18;
            //}
          }
        }
      }

      .about-us-page {
        .about-us-content {
          width: inherit;
          margin-top: $l;
          .collapsible {
            li {
              border-bottom: $l solid transparent;
              box-shadow: unset;

              .collapsible-header {
                display: flex;
                align-items: center;
                background: transparentize(#484848, 0.2);
                color: #d6d6d6;
                @extend %latoBold;
                font-size: 1.12em;
                letter-spacing: $l * .12;
                border: none;

                i {color: #00a400; font-style: normal;}
                .icons {@extend %ico; font-size: 1.7em;}
                .material-icons {
                  margin: 0 $l * 3 0 0;
                  font-size: 2em;
                }
              }
              .collapsible-body {
                @extend %roboto;
                color: #d6d6d6;
                font-size: 1em;
                letter-spacing: $l * .15;
                background: transparentize(#555555, 0.3);
                border: none;
              }
            }
          }

          .text {
            padding-right: $l * 4;
            @extend %roboto;
            font-size: 1em;
            letter-spacing: $l * .12;
            line-height: 1.7;
            border-right: $l * .6 solid #006900;
          }
        }
      }

      .smart-house-page {
        .content {
          .caption {}
          .sub-caption {}
          .text{}
          .caption-conclusion {}
        }
      }

      footer {
        .container .row div {
          h5 {
            @extend %openSans;
            font-size: 1.7em;
            letter-spacing: $l * .14;
          }
          address {
            @extend %openSansLight;
            font-size: 1.3em;
            letter-spacing: $l * .16;
          }
          ul li {
            @extend %openSansLight;
            font-size: 1.1em;
            letter-spacing: $l * .14;
          }
        }
        .footer-copyright .container {
          @extend %robotoThin;
          font-size: 1.1em;
          letter-spacing: $l * .04;
          a {
            @extend %openSansLight;
            font-size: 1.1em;
            line-height: 1.3;
            letter-spacing: $l * .08;
          }
        }
      }

      .calculator {
        #calc .modal-content .container label span:after {
          background-color: #2E7D32;
          border-color: #2E7D32;
        }
        button .icons {
          @extend %ico;
          font-style: normal;
          font-size: 1.8em;
        }
      }

      #preloader.unset {
        border-radius: 50%;
      }
    }
  }
}

@media screen and (min-width: 1400px) {
  body {
    font-size: 16px;
    #root .App .App-page {

    }
  }
}
@media screen and (max-width: 1366px) {
  body {
    font-size: 14px;
  }
}
@media screen and (max-width: 1000px) {
  body {
    font-size: 12px;
  }
}