@import "variables.scss";

body {
  @extend %globalReset;

  #root {
    .App {
      width: 100%;
      height: 100%;
      display: flex;
      min-height: 100vh;
      flex-direction: column;

      .App-header {
        #dropdown-lang {
          transform-origin: bottom;
        }
      }

      .App-page {
        overflow: hidden;
        flex: 1 0 auto;
        width: 100%;
        @include blackFilter(0.3);
      }

      .main-page {
        min-height: 60%;
        height: 100%;

        .content {
          width: inherit;
          height: 100%;
          .row {
            @extend %column-centner;
            width: inherit;
            height: inherit;

            .main-caption {
              @extend %lato;
              font-size: 5.4em;
              letter-spacing: $l * .3;
              padding: 0;
            }
            .name {
              @extend %ubuntu;
              font-size: 6.5em;
              font-weight: 500;
              letter-spacing: $l * .50;
              padding: $l 0;
              margin-bottom: $l * 6;
            }
            .sub-caption {
              @extend %latoLight;
              margin-top: $l * 4;
              font-size: 1.4em;
              letter-spacing: $l * .26;
              line-height: 1.6;
              border-left: $l * .6 solid #006900;
            }
            .main-background {
              @extend %img-background;
              top: $l * -18;
            }
          }
        }
      }

      .about-us-page {
        .about-us-content {
          width: inherit;
          margin-top: $l;
          .collapsible {
            li {
              border-bottom: $l solid transparent;
              box-shadow: unset;

              .collapsible-header {
                display: flex;
                align-items: center;
                background: transparentize(#484848, 0.2);
                color: #d6d6d6;
                @extend %latoBold;
                font-size: 1.12em;
                letter-spacing: $l * .12;
                border: none;

                .material-icons {
                  margin: 0 $l * 3 0 0;
                  font-size: 2em;
                  color: #00a400;
                }
              }
              .collapsible-body {
                @extend %roboto;
                color: #d6d6d6;
                font-size: 1em;
                letter-spacing: $l * .15;
                background: transparentize(#555555, 0.3);
                border: none;
              }
            }
          }

          .text {
            @extend %openSans;
            font-size: 1.1em;
            letter-spacing: $l * .24;
            line-height: 1.5;
            border-right: $l * .6 solid #006900;
          }
        }

        .about-us-background {
          @extend %img-background;
          top: $l * -20;
        }
      }

      .smart-house-page {
        min-height: 100%;
        .content {}
        img {
          @extend %img-background;
          top: $l * -18;
        }
      }

      //footer {
      //  flex: 1 0 auto;
      //  width: 100%;
      //  min-width: 100%;
      //  background: #1e1e1e;
      //  margin: 0;
      //  box-sizing: border-box;
      //  @extend %openSans;
      //  .contacts {
      //    max-width: $l  * 128;
      //    box-sizing: border-box;
      //    max-height: 100%;
      //    h3 {
      //      letter-spacing: $l * .3;
      //      @extend %lato;
      //    }
      //    ul {
      //      li {
      //        @extend %openSans;
      //        letter-spacing: $l * .14;
      //        font-size: 0.8em;
      //        padding: $l * .2 $l * 3;
      //      }
      //    }
      //  }
      //  .addr {
      //    font-size: 1.3em;
      //    padding: $l * 2;
      //  }
      //}

      #preloader.unset {
        border-radius: 50%;
      }
    }
  }
}