@import "fonts.scss";
// Basic variables
$l: 10px;
$t: 0.2s;
$b: 1px solid red;
$default: "Arial", sans-serif;

// Fonts placeholders
%lato {font-family: "Lato", $default;}                        // Lato
%latoLight {font-family: "Lato-Light", $default;}
%latoBold {font-family: "Lato-Bold", $default;}
%openSans {font-family: "Open-Sans", $default;}               // OpenSans
%openSansBold {font-family: "Open-Sans-Bold", $default;}
%openSansBlack {font-family: "Open-Sans-Black", $default;}
%openSansLight {font-family: "Open-Sans-Light", $default;}
%roboto {font-family: "Roboto", $default;}                    // Roboto
%robotoMedium {font-family: "Roboto-Medium", $default;}
%robotoBold {font-family: "Roboto-Bold", $default;}
%robotoThin {font-family: "Roboto-Thin", $default;}
%ubuntu {font-family: "Ubuntu", $default;}                    // Ubuntu
%ubuntuMedium {font-family: "Ubuntu-Medium", $default;}
%ubuntuBold {font-family: "Ubuntu-Bold", $default;}
%ico {font-family: "Ico", $default;}                          // Icons

// Components placeholders
%globalReset {                // Reset
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: normal;
  padding: 0;
  margin: 0;
  h1, h2, h3 {
    margin: 0;
    padding: 0;
  }
}
%column-centner {            // Center wrapper
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
//%img-background {
//  box-sizing: border-box;
//  width: 100%;
//  position: absolute;
//  left: 0;
//  z-index: -2;
//}
// Mixins
//@mixin blackFilter($amount, $color: #141414) {
//  position: relative;
//  background-color: transparent;
//  &::before {
//    content: '';
//    display: inline-block;
//    position: absolute;
//    top: 0;
//    left: 0;
//    width: 100%;
//    height: 100%;
//    background: {
//      color: transparentize($color, $amount);
//    }
//  }
//}